.container {
  max-width: 255px;
  margin-top: 10px;
}

.error {
  font-family: 'Montserrat';
  color:rgb(235, 26, 26);
  font-size: 14px;
  text-align: center;
}

.time {
  color: white;
  font-size: 18px;
  text-align: center;
}